@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: var(--type-normal);
}

:root {
    /* Colors */
    --brand-primary: #5D5FEF;
    --brand-secondary: #00E4C9;
    --action-error: #F61775;
    --action-warning: #FFA800;
    /* Night Theme */
    --night-primary: #3F4071;
    --night-secondary: #20214A;
    --night-tertiary: #080827;
    /* Light Theme */
    --light-primary: #FFFFFF;
    --light-secondary: #D9D9FF;
    --light-tertiary: #A3A4F9;
    /* Typefaces */
    --type-normal: "Roboto";
    --type-mono: "IBM Plex Mono";
    /* Font Sizes */
    --size-header: 24px;
    --size-body: 14px;
    --size-button: 10px;
}

.theme-light {
  color: var(--night-primary);
  background: var(--light-tertiary);
}

.theme-night {
  color: var(--light-primary);
  background: var(--night-tertiary);
}

.tabs {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 10px;
}

.theme-night .tab {
  display: flex;
  padding: 0px 15px;
  margin-right: 10px;
  align-items: center;
  font-size: var(--size-button);
  background: var(--night-primary);
  border-radius: 10px 10px 0px 0px;
}

.new-tab {
  border: none;
  outline: none;
  padding: 10px;
  max-height: 10px;
  background: white;
  border-radius: 100px;
  display: inline-block;
}

#tab-name {
  margin-right: 30px;
}

.close-tab {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 0px;
  background: rgba(200, 200, 200, 0);
  transition: background 400ms, border-radius 300ms;
}

.close-tab:hover {
  border-radius: 15px;
  background: rgba(200, 200, 200, 1);
}

.theme-night .top-navigation {
  width: 100%;
  background: var(--night-primary);
}

#search-box {
  width: 800px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 0px 5px 20px;
  color: var(--light-primary);
  font-size: var(--size-body);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
}

#search-box::placeholder {
  color: var(--light-primary);
}

.theme-night .top-navigation #search-box {
  width: 80%;
  height: 30px;
  margin: 15px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 2px 0px 2px 12px;
  color: var(--light-primary);
  font-size: var(--size-button);
  background: var(--night-secondary);
  transition: border-radius 400ms;
}

.theme-night .top-navigation #search-box:focus {
  border-radius: 5px;
}

.theme-night .top-navigation #search-box::placeholder {
  color: var(--light-tertiary);
}

#webpage {
  border: none;
  outline: none;
}

.time {
  color: white;
  font-size: 100px;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  padding-bottom: -300px;
}

.time h1, #twelveHour {
  line-height: 15px;
  text-shadow: 0px 0px 20px #00e4c9;
}

#twelveHour {
  font-size: 50px;
}

#webpage {
  width: 100%;
  height: 80vh;
}

.footer-left {
  left: 0;
  bottom: 0;
  position: absolute;
  color: var(--night-secondary);
}

.footer-right {
  right: 0;
  bottom: 0;
  position: absolute;
  color: var(--night-secondary);
}